@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* password manager input containers*/

.app-container {
  background-color: #9ba9eb;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 20px;
  min-width: 95vw;
}

.app-logo {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.password-manager-container {
  background-color: #5763a5;
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
}
.password-manager-img {
  height: 300px;
  margin-left: 20px;
  max-width: 100%;
  flex-shrink: 0;
}
.password-input-card {
  background-color: #454f84;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin: 15px;
}
.input-container {
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.input-logos {
  height: 22px;
  border-right: 1px solid #94a3b8;
  margin-right: 10px;
  padding-right: 10px;
}

.input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #000;
  flex-grow: 1;
}
.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #084bcf;
  }
}

@media screen and (max-width: 768px) {
  .password-manager-container {
    flex-direction: column;
    align-items: center;
  }
  .password-manager-img {
    margin-top: 20px;
    max-width: 80%;
  }

  .password-input-card {
    width: 90%;
  }

  .search-input-container {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .password-manager-container {
    padding: 10px;
  }
  .password-input-card {
    order: 1;
  }
  .app-container {
    width: 100%;
  }
}

.your-password-container {
  background-color: #5763a5;
  padding: 30px;
  border-radius: 10px;
  margin: 10px 0;
}
.password-count-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.password-count-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.password-counts {
  color: #ffffff;
  font-size: 18px;
}

.cc {
  border: 0.5px solid #f8fafc;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 10px;
}

.search-input-container {
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 35px;
  border-radius: 5px;
}
.search-input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #94a3b8;
  flex-grow: 1;
}
.checkbox-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.check {
  transform: scale(1.5);
}
.show-password {
  color: #ffffff;
  padding-left: 10px;
}

/* yourPassword */

.ul-password-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.password-list {
  border: 1px solid #f8fafc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwords-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.initial-and-website {
  display: flex;
  align-items: center;
}
.initial {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  background-color: green;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details {
  margin-left: 5px;
  color: #ffffff;
}
.user-desc {
  margin: 0 5px;
  /* margin-left: 5px; */
}
.user-star-password {
  margin: 8px;
  letter-spacing: 0.2em;
}
.star-img {
  height: 10px;
  margin-left: 5px;
}
.delete-btn-img {
  height: 25px;
  cursor: pointer;
}
.btn {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  padding-bottom: 20px;
}
.no-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-passwords {
  height: 250px;
}
.no-passwords-desc {
  color: #f8fafc;
  font-weight: bold;
}

.yellow {
  background-color: #f59e0b;
}
.green {
  background-color: #10b981;
}
.orange {
  background-color: #f97316;
}
.lightgreen {
  background-color: #14b8a6;
}
.brown {
  background-color: #b91c1c;
}
.blue {
  background-color: #2e61ee;
}
@media screen and (max-width: 576px) {
  .search-input-container {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
  }
  .passwords-data {
    align-items: center;
  }
  .add-btn {
    width: 100%;
  }
}